.pagination-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
  }

.pagination-button:hover {
    background-color: #97ca95; /* Cambiamos el color de fondo en hover */
}

.pagination-button.active {
    background-color: #8EFF8B;
}