.color-green {
    color: #8EFF8B;
    font-weight: 500;
}

.button-search {
    background-color: #8EFF8B;
}

input {
    border: 4px solid #8EFF8B; /* Cambia "red" por el color que desees */
    border-radius: 4px;
}

.center {
    text-align: center;
}